<header class="header">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <input
    matInput
    placeholder="Rechercher..."
    (keydown)="handleKeydown($event)"
    (input)="handleInput($event)"
  />
  <button mat-icon-button (click)="search()">
    <mat-icon>search</mat-icon>
  </button>
</header>

<mat-menu #menu="matMenu" class="filters-menu" style="background-color: #ffffff !important;  padding: 16px; min-width: 300px;">
  <div style="min-height: 250px; width: 500px; padding: 0 20px;">
    <h2 style="font-size: 1.2rem; font-weight: 500">Filtres</h2>
    <mat-slider min="1" max="5" step="0.5">
      <input matSliderThumb value="1.5">
    </mat-slider>
  </div>
</mat-menu>
