<header class="header">
  <img src="icon.png" alt="Logo" class="logo" />

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <input
    matInput
    placeholder="Rechercher..."
    [(ngModel)]="searchValue"
    (input)="onSearchInput()"
  />
    <mat-icon>search</mat-icon>
</header>

<mat-menu
  #menu="matMenu"
  class="filters-menu"
  [hasBackdrop]="true"
  style="background-color: #ffffff !important; padding: 16px; min-width: 300px"
>
  <div
    style="min-height: 250px; width: 500px; padding: 0 20px"
    (click)="$event.stopPropagation()"
    tabindex="0"
    aria-hidden="true"
  >
    <h2 style="font-size: 1.2rem; font-weight: 500">Filtres</h2>
    <h3>Distance en kilomètres</h3>

    <mat-slider
      min="{{ shortestRide }}"
      max="{{ longestRide }}"
      step="1"
      thumbLabel
      tickInterval="1"
    >
      <input
        matSliderThumb
        (change)="onDistanceInput()"
        [(ngModel)]="searchDistance"
      />
    </mat-slider>
    <h4>kilomètres : {{ searchDistance }}</h4>

    <h4>Chercher la ville</h4>
    <mat-form-field>
      <mat-label>Villes</mat-label>
      <mat-select
        [formControl]="cityControl"
        [(ngModel)]="searchCity"
        (selectionChange)="onCityInput()"
      >
        <mat-option *ngFor="let city of cityList" [value]="city"
          >{{ city[0] }} {{ city[1] }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <h4>Temps de balade</h4>
    <mat-slider
      min="{{ shortestRideTime }}"
      max="{{ longestRideTime }}"
      step="1"
      thumbLabel
      tickInterval="1"
    >
      <input matSliderThumb (change)="onTimeInput()" [(ngModel)]="searchTime" />
    </mat-slider>
    <h4>Temps de balade en Heures : {{ searchTime }}</h4>
  </div>
  <div style="display: flex; justify-content: flex-start; margin-left: 16px">
    <button mat-stroked-button color="warn" (click)="resetFilters()">
      Effacer les filtres
    </button>
  </div>
</mat-menu>
