<div class="rides-list">
  <app-ride *ngFor="let ride of paginatedRides" [ride]="ride"></app-ride>
</div>
<div class="pagination">
  <button (click)="goToPage(1)" [disabled]="currentPage === 1">
    <mat-icon>keyboard_double_arrow_left</mat-icon>
  </button>

  <button
    *ngFor="let page of [].constructor(totalPages); let i = index"
    [class.active]="currentPage === i + 1"
    (click)="goToPage(i + 1)"
  >
    {{ i + 1 }}
  </button>

  <button (click)="goToLastPage()" [disabled]="currentPage === totalPages">
    <mat-icon>keyboard_double_arrow_right</mat-icon>
  </button>
</div>
