<div class="rides-list">
  <app-ride *ngFor="let ride of paginatedRides" [ride]="ride"></app-ride>
</div>
<div class="pagination">
  <button (click)="goToPage(1)" [disabled]="currentPage === 1"><-</button>

  <button
    *ngFor="let page of [].constructor(totalPages); let i = index"
    [class.active]="currentPage === i + 1"
    (click)="goToPage(i + 1)"
  >
    {{ i + 1 }}
  </button>

  <button
    (click)="goToPage(currentPage + 1)"
    [disabled]="currentPage === totalPages"
  >
    ->
  </button>
</div>
